body{
    background-color: black;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: rgb(105, 105, 105);
}
.logo img{
    width: 130px;
    margin-left: 0.2%;
}
.text p{
    color: blanchedalmond;
    font-size: 50px;
    
    text-align: center;
    margin-top: 10%;
}

.c{
    color: rgb(105, 105, 105);
    border: 2px solid rgb(105, 105, 105);
    width: 12%;
    margin-left: 44%;
    margin-top: 20%;
}
.c:hover{
    border: 2px solid blanchedalmond;
    color: blanchedalmond;
}
.c p{
    text-align: center;
    font-size: 120%;
    margin-top: 7%;
    margin-bottom: 7%;
}
.profili{
    margin-left: 26%;

}
.a p{
    
    margin-left: 25%;
    margin-top: 1%;
}
.a:hover{
    color: blanchedalmond;
}
.a img:hover{
    border: 1px solid blanchedalmond;
    color: blanchedalmond;

}
.a{
    float: left;
    margin-right: 8%;
}
.b{
    float: left;
    margin-right: 8%;
}
.d{
    float: left;
    margin-right: 8%;
}
.e{
    float: left;
    margin-right: 8%;
    width: 10.5%;
    height: 130px;
}
.e img{
    width: 70px;
    margin-left: 16%;
    margin-top: 15%;
}
.b:hover{
    color: blanchedalmond;
}
.b img:hover{
    border: 1px solid blanchedalmond;
    color: blanchedalmond;

}
.d:hover{
    color: blanchedalmond;
}
.d img:hover{
    border: 1px solid blanchedalmond;
    color: blanchedalmond;

}
.b p{
    
    margin-left: 25%;
    margin-top: 1%;
}
.d p{
    
    margin-left: 25%;
    margin-top: 1%;
}
.e p{
    
    margin-left: 40%;
    margin-top: 6%;
}
.e:hover{
    color: blanchedalmond;
   
}
.u{
    height: 150px;
    width: 150px;
}
.u img{
    margin-left: -24%;
    margin-top: -6%;
}
.u:hover{
    border: 1px solid blanchedalmond;
    background-color: rgb(105, 105, 105);
}
.profili img{
    width: 150%;
}
